/* header.scss */
.header__top{
  padding: 30px;
}
.header__bottom{
  background: $black;
}
.header__menu{
  ul{
    display: flex;
  }
}
.header__menu-item{
  list-style: none;
  margin-right: 30px;
  a{
    color: $white;
    display: block;
    height: 50px;
    line-height: 50px;
  }
}
.header__inner-wrap{
  display: flex;
  justify-content: space-between;
}