/*homepage.scss*/
.top-section{
  height: calc(100vh - 130px);
  background: url("../images/style/bg/bg_success.jpg") no-repeat 50% 0 / cover;
  color: $black;
  text-align: center;
  margin-bottom: 50px;
  .container-fluid,
  .wrap{
    height: 100%;
  }
}
.top-section__content{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.slider-section__slider-item-inner{
  height: 350px;
  position: relative;
  text-align: center;
  padding-top: 150px;
  @extend .bgimg;
  &::before{
    content: "";
    background: $black;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
  }
  h4{
    opacity: 0;
    position: relative;
    top: -20px;
    transition: all .5s;
    color: $white;
  }
  &:hover{
    h4{
      top: 0;
      opacity: 1;
    }
    &::before{
      opacity: .6;
    }
  }
}
#gmap{
  height: 400px;
}
.slider-section,
.form-section{
  margin-bottom: 50px;
}
//.form-control.ng-invalid{
//  border-color: red;
//}
.cssload-wrap {
  width: 185px;
  height: 185px;
  margin: 92px auto;
  position: relative;
  perspective: 3700px;
  transform-style: preserve-3d;
}

.cssload-circle {
  transform-style: preserve-3d;
  box-sizing: border-box;
  opacity: 0;
  width: 185px;
  height: 185px;
  border: 2px solid rgba(25,35,224,0.8);
  border-radius: 139px;
  position: absolute;
  top: 0;
  left: 0;
  animation: cssload-spin 34.5s ease-in-out alternate infinite;
}
.cssload-circle:nth-of-type(1) {
  animation-delay: 575ms;
}
.cssload-circle:nth-of-type(2) {
  animation-delay: 1150ms;
}
.cssload-circle:nth-of-type(3) {
  animation-delay: 1725ms;
}
.cssload-circle:nth-of-type(4) {
  animation-delay: 2300ms;
}
.cssload-circle:nth-of-type(5) {
  animation-delay: 2875ms;
}

@keyframes cssload-spin {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
  25% {
    transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
    transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
    transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
    transform: rotateY(900deg) rotateX(1080deg);
    opacity: 1;
  }
}