<footer class="footer">
    <div class="footer__top">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Menu 1</h4>
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h4>Menu 2</h4>
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h4>Menu 3</h4>
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="wrap">
            <div class="container-fluid">
                <div class="copy">
                    &copy; Copyright
                </div>
            </div>
        </div>
    </div>
</footer>
<div (click)="toTop()" id="toTop">^</div>
<div class="modal_overlay"></div>
<div id="modal-bl-1" class="modal_div">
    <span class="modal_close">X</span>
    <h3 class="mod-cap">Form 2</h3>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="btn-wr">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>