<div class="header__menu">
    <ul>
        <li class="header__menu-item" *ngFor="let item of menuItems">
            <a (click)="scrollTo($event)" href="{{item.url}}">{{item.name}}</a>
        </li>
    </ul>
</div>