<header class="header">

    <div class="header__top">
        <div class="wrap">
            <div class="container-fluid">
                <div class="header__inner-wrap">
                    <div class="header__logo">
                        <a href="/">{{siteName}}</a>
                    </div>
                    <a href="#modal-bl-1" class="btn btn-primary open_modal">form 2</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="wrap">
            <div class="container-fluid">
                <header-menu-cmt></header-menu-cmt>
            </div>
        </div>
    </div>

</header>
