<section class="top-section">
    <div class="wrap">
        <div class="container-fluid">
            <div class="top-section__content">
                <h1>Landing page on Angular</h1>
            </div>
        </div>
    </div>
</section>
<section class="slider-section">
    <a id="sliderAnchor"></a>
    <div class="container-fluid">
        <h3 class="mod-cap">Some slider</h3>
    </div>
    <div class="slider-section__slider-wrap">
        <div class="slider-section__slider-item" *ngFor="let sliderItem of sliderItems">
            <div class="slider-section__slider-item-inner" [ngStyle]="{'background-image': 'url(' +  sliderItem.img + ')'}">
                <h4>{{sliderItem.text}}</h4>
            </div>
        </div>
    </div>
</section>
<section class="form-section">
    <a id="formAnchor"></a>
    <div class="wrap">
        <div class="container-fluid">
            <h3 class="mod-cap">Form</h3>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" novalidate>
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" class="form-control" placeholder="Name" >
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" type="email" class="form-control" placeholder="Email" ngModel>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" name="message" placeholder="Message" required ngModel>
                            </textarea>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" ngModel>
                                Check me out
                            </label>
                        </div>
                        <div class="btn-wr">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="map-section">
    <a id="mapAnchor"></a>
    <div class="container-fluid">
        <h3 class="mod-cap">Map</h3>
    </div>
    <div id="gmap"></div>
</section>